*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle stuff
.gradle/

# Maven Stuff
target/

# IntelliJ Stuff
.idea/

# Licensed stuff that shouldn't appear in the repository
roms/licensed/

# A massive file containing register values after every instruction of cpu_instrs.gb
roms/registers.dmp
